<body>
<div class="animals">
    <header>
        <div class="nav">
            <ul>
                <li class="home"> <a href="/">Home</a></li>
                <li class="favorites"><a href="/favorites">Animals</a></li>
                <li class="add-animal"><a href="/favorites/new">Add an animal!</a></li>
                <li class="search-animal"><a target="_blank" href='https://unsplash.com/s/photos/animals'><button>Search Animals!</button></a><li>
            </ul>
        </div>

</div>
</body>