<h1>Hello from form!</h1>
<div>
    <form action="/favorites" method="POST">
        <input placeholder="species name" type="text" name="species_name">

        <input placeholder="scientific name" type="text" name="scientific_name">

        <input placeholder="image url" type="text" name="image_url">

        <input placeholder="description" type="text" name="description">

        <input type="radio" id="exctinctTrue" name="exctinct" value="true">

        <label for="exctinctTrue">Extinct</label>

        <input type="radio" id="exctinctFalse" name="exctinct" value="false">

        <label for="exctinctFalse">Living</label><br>

        <button type="submit">submit</button>
        
    </form>
</div>