<!DOCTYPE html>
<html lang="en">
<head>
    <title>p2 assessment</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');</style>
    <style>@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');</style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <%- body %>
</body>
</html>